.calculator{
    height: 540px;
    width: 440px;
    border-color: black;
    border-style: groove;
    background-color: gray;
}


.result-numbers{
    font-size: 32px;
    right: 0;
}

.add-sign, .minus-sign, .multiply-sign, .equal-sign, .divide-sign{
    display: flex;
    background-color: black;
    color: white;
    font-weight: 100;
    align-items: center;
    height: 96px;
    width: 96px;
    margin-bottom: 8px;
    margin-left: 5px;
    font-size: 36px;
    text-align: center;
}

.display{
    width: 400px;
    height: 60px;
    margin-left: 15px;
    margin-top:10px;
    border-style: groove;
    background-color: white;
}

.number{
    color: black;
    height: 96px;
    width: 96px;
    font-size: 36px;
    margin-left: 10px;
}

.clear-button{
    font-size: 36px;
    height: 96px;
    width: 96px;
    margin-left: 10px;
    background-color: red;
}
.numpad{
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
